/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: rgb(112, 121, 122);
}

h1 {
    font-size: 20x;
    color: rgb(223, 211, 53);
}

h2 {
    font-size: 10x;
    text-align: center;
    border-bottom: 1px solid #16324f;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 500px;
}

header, footer, footer a {
    text-align: center;
    background-color: #16324f;
    color: rgb(223, 211, 53);
}

header img {
    width: 30%;
    height: auto;
    float: right;
}

footer {
    font-size: 5x;
}