@import url('https://fonts.googleapis.com/css?family=Montserrat');

* { margin: 0; box-sizing: border-box; } 

h1, h2, h3, h4, h5, h6 {
    color:#393E41;
    font-family:"Montserrat", "Arial", "sans-serif";
}

.container_head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.logotype{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
	margin: 10px auto;
	background-color: #ffffff;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}


.mainTitle{
    text-align: center;
    font-family: "Montserrat", "Arial", "San-Serif";
    font-size: 30px;
    font-weight: 900;
}


nav{
    background-color: #397D96;
    color: #ffffff;
    font-size: 30px;
    line-height: 2em; 
    
}

nav button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
}


nav a {
    color:#ffffff;
    text-decoration: none;
    
}

nav a:hover{
    color:#393E41;
    background-color:#D3D0CB;
    text-decoration: none;
}

nav .active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul.hide{
    display: none;
}
nav li a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.3);
}

ul li {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}


h1{
    font-size:30px;
}

h2 {
    font-size: 25px;
    padding: 50px;
}

.heroimg img{
    width: 100%;
}

h2 {text-align: center; font-size: 2rem;}

.hero-container {margin: 10px auto; position: relative;}

.summary {
	position: absolute;
	top: 5%;
    left: 5%;
    bottom:10%;
    background: #ffffff;
    opacity:0.8;
	border: none;
	padding: 5%;
	box-shadow: 0 0 30px #fff;
}

.summary .textp {
    padding: 5%;
}

.summary h3{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

h3, h6 {
    font-size:20px;
    padding-left: 20px;
}

.fiveday{
    display: none;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: "Montserrat", "Arial", "sans-serif";
    color:#000000;
}


article img {

    padding: 20px;
    width: 100%;
}

article p{
    display: block;
    width: 100%;
    padding: 20px;
}

footer, address{
    padding: 20px;
}

.contain2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

address{
    flex:1;
}

#map{
    flex:1;
}


.contain2 .googlemap img{
    width: 30%;
  }
  
  .contain2 address p {
      display: block;
      width: 45%;
  }

  .galleryImages{
      display: grid;
      grid-template-columns: 1fr;
  }

  .galleryImages figure img{
    width: 100%;
    padding-top: 2em;
}

.galleryImages figure figcaption{
    text-align: center;
    font-weight: bold; 

}

  footer {
    background-color: #397D96;
    color: #ffffff;
}

.footerbar{
    background-color: #393E41;
    color: #fff
}
