@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Open+Sans+Condensed:300,300i,700');

* { margin: 0; box-sizing: border-box; } 

#content{
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 70px #808080;
}
 
 h1, h2, h3, h4, h5, h6 {
    font-family: "Glass Antiqua", cursive;
}

p {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
}

/*LOGO CSS*/

.logotype {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.logotype img{
    width: 15%;
    padding-top: 1.5rem;
    display: flex;
    margin-bottom: 2%;
}

.logotype h1{
    width:100%;
    text-align: center;
    font-size: 3rem;
}

.logotype p{
    width:100%;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size:1.5rem;
}

.logotype div {
    margin-top: 5%;
    margin-left: 2%;
}

.logotype div h1 {
    margin: 0;
}


/*NAVIGATION LARGE*/

/*Wayfinding nav*/
nav .active a {
    background-color: #EBF5EE;
    color: #333333;
}



/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: #333333;
    width: 90%;
    margin: 0 auto;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
}
/*Style for menu links*/
li a {
    display:block;
    width:7rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #EBF5EE;
    background-color: #333333;
    text-decoration: none;
}

nav li ul li{
    background-color: transparent;
}

nav li ul{
    background-color: transparent;
}
/*Hover state for top level links*/
li:hover a{
    background-color: #EBF5EE;
    color:#333333;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background-color: #333333;
    color: #EBF5EE;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: flex;
    flex-direction: column;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: #333333;
    width: 100%;
}

.dropdown a {
    width: 30%;
    background: #EBF5EE;
}

nav{
    margin-bottom: 10%;
}

/*SLIDESHOW*/

.slideshow, .myslides{
    
    width: 80%;  
    margin: 0 auto;
    margin-top: 10%;
}

/*BOOK NOW*/

button{
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: bolder;
    display: inline-block;
    border-radius: 5rem;
    background-color: #82AEB1;
    border: none;
    color:#333333;
    font-size: 1.5rem;
    width: 80%;
    transition: all 0.5s;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.book_button{
    margin-top: 4%;
    margin-left: 27%;
    margin-right: 20%;
    margin-bottom: 5%;
}

button:hover {
    background-color: #333333;
    color: #EBF5EE;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

button:active {
    background-color:#333333;
    color: #EBF5EE;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*ARTICLE*/

.pink{
    border: solid #D8BFAA 10px;
    color: #333333;
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
}

section h2 {
    display: block;
    text-align: center;
    font-size: 2rem;
}

article h3{
    text-align: center;
    font-size: 1.8rem;
    padding-top: 1.5rem;
    color: #333333;
    margin-top: 2%;
}

article .subtitle{
    text-align: center;
}


article h4{
    font-size: 1.4rem;
    padding-bottom:2%;
    padding-left:2rem;
}


article p {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
    padding-bottom: 1rem;
    font-size: 1.2em;
}

article{
    background-color: #EBF5EE;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
}

section article img {
    
    padding-left: 15px;
    padding-bottom: 5px;
    width: 50%;
    float: right;
    padding-top: 5%;
}

/*FOOTER*/

.left{
    margin-top: 10%;
    margin-left: 8%;
    width: 50%;
}

address p{
    margin-bottom:2%;
}

.icons{
    width: 5%;
}

address .icons{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.right img{
    padding-right: 5%;
    padding-left: 10%;
    margin-top: 2rem;
}

.right{
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

address{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footerbar{
    background-color: #333333;
    color: #EBF5EE;
    display: flex;
    font-size: 0.9rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.link{
    color: #EBF5EE;
}

.link:hover{
    color: #82AEB1;
}

.link1{
    color: #333333;
}

.link1:hover{
    color: #82AEB1;
}

/*FEATURED TEMPLE IMG IN TEMPLE PAGES*/

article h2{
    border: solid #D8BFAA 10px;
    background-color: #fff;
    color: #333333;
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 3rem;
}

article div img{
    width: 50%;
    display: inline-flex;
    margin-left: 25%;
    margin-right: 15%;
    
}

article h2{
    margin-bottom: 4%;
    font-size: 2em;
}

.templeinfo p{
    font-size: 1.2em;
}

aside{
    width: 90%;
    margin: 0 auto;
    background-color: #EBF5EE;
    padding-bottom: 3%;
}

div .current{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border: 4px solid #82aeb1;
    font-size: .8em;
    color: #333333;
    padding-top: 1.2em;
    background-color: #fff;
}

.summary h3{
    font-size: 2em;
    padding-top: 3%;
    padding-bottom: 2%;
}

/*FORMS LARGE*/

fieldset {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 1.3em;
}

form{
    width: 75%;
    background-color: #EBF5EE;
    padding-top: 1%;
    padding-bottom: 2%;
    margin: 0 auto;
}

fieldset legend{
    font-family: "Glass Antiqua", cursive;
    font-size: 1.5em;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

form fieldset{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 10%;
}

form input{
    width: 100%;
}

form select{
    width: 100%;
}

form textarea{
    width: 100%;
}

.personal{
    margin-top: 10%;
    border: 4px solid #D8BFAA;
}

.accomodations{
    border: 4px solid #D8BFAA;
}

.comments{
    border: 4px solid #D8BFAA;
}

form input[type=submit]{
    
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: bolder;
    display: inline-block;
    border-radius: 5rem;
    background-color: #82AEB1;
    border: none;
    color:#333333;
    font-size: 1.5rem;
    width: 80%;
    transition: all 0.5s;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
form input[type=submit]{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 5%;
}


form input[type=submit]:hover {
    background-color: #333333;
    color: #EBF5EE;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/*THANK YOU*/

.thankyou{
    background-color: #EBF5EE;
}

.thankyou h2{
    padding-top: 15%;
    font-size: 4em;
    text-align: center;
}

.thankyou p{
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.thankyou p:nth-child(4){
    padding-bottom: 20%;
}

form input[type=submit]:active {
    background-color:#333333;
    color: #EBF5EE;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




/*SERVICES*/

.serviceTitle h2{
    text-align: center;
    border: solid #D8BFAA 10px;
    background-color: #ffffff;
    margin: 3%;
    font-size: 3em;
    padding: 3%;
}

.serviceList{
    background-color: #EBF5EE;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 3%;
    font-size: 1.3em;
    line-height: 2em;
}

.serviceList .justify{
    text-align: justify;
    padding-top:3%;
    padding-left: 3%;
    padding-right: 3%;
}

.specialized{
    font-weight: bold;
    margin-top:5%;
    
}

.serviceList p {
    padding: 2%;
}

/*RECEPTION PICTURES*/


.receptions{
    background-color: #EBF5EE;
    margin: 3%;
}

.receptions p{
    text-align: justify;
    padding-top:3%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.3em;
    line-height: 2em;
}

.receptions h3{
    font-weight: bold;
    padding-left: 3%;
    padding-top: 5%;
    font-size:2em;
    
}

.gallery{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4em;
    row-gap: 1em;
    align-items: center;
    padding: 3em;
}

.gallery figure img{
    width: 110%;
}

/*FULL TIME MISSIONARIES*/

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
    width:50%;
    margin: 0 auto;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#imgtext, #expandedImg{
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: bold;
}

/*CONTACT*/

.contact{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 5%;
    padding-top: 5%;
}

.para{
    padding-top: 5%;
}

/*TEMPLES*/

.temples{
    display: flex;
    justify-content: center;
}

