@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Open+Sans+Condensed:300,300i,700');

* { margin: 0; box-sizing: border-box; } 

#content{
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 70px #808080;
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: "Glass Antiqua", cursive;
}

p {
    font-family: "Open Sans Condensed", sans-serif;
}

/*LOGO CSS*/

.logotype {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.logotype img{
    width: 15%;
    padding-top: 1.5rem;
    display: flex;
    margin-bottom: 2%;
}

.logotype h1{
    width:100%;
    text-align: center;
    font-size: 3rem;
}

.logotype p{
    width:100%;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size:1.5rem;
}

.logotype div {
    margin-top: 5%;
    margin-left: 2%;
}

.logotype div h1 {
    margin: 0;
}

/*Navigation*/

 /*#noshow{
     display: none;
 }

 ul ul.hide{
    display: none;
}

/*Make dropdown links vertical*/
/*ul ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
/*ul ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

.dropMenu{
    background-color: #808080;
    border-top: 2px solid #333333;
}


nav{
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #333333;
    color: #EBF5EE;
    font-size: 1.5em;
    line-height: 3em;
    font-weight: bold;
    text-align: center;
}


nav a{
    
    color:#EBF5EE;
    text-decoration: none;
    padding: 1rem;
}

nav button{
    border: none;
    background-color: #333333;
    color: #EBF5EE;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;

}

li:hover{
    color:#393E41;
    background-color:#EBF5EE;
    
}

li:hover a, ul button:hover{
    color: #333333;
}

ul button:hover{
    background-color: #EBF5EE;
}


li.active {
    background-color: #82aeb1;
    color: #333333;
}

ul li {
    list-style: none;
    display: inline-block;
}*/

/*NAVIGATION LARGE*/

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: #333333;
    width: 90%;
    margin: 0 auto;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    width:7rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: bold;
    color: #EBF5EE;
    background-color: #333333;
    text-decoration: none;
}

nav li{
  background-color: #EBF5EE;
}
/*Hover state for top level links*/
li:hover a {
    background-color: #EBF5EE;
    color:#333333;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background-color: #333333;
    color: #EBF5EE;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: flex;
    flex-direction: column;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: #333333;
    width: 100%;
}

.dropdown a {
    width: 30%;
    background: #EBF5EE;
}

/*SLIDESHOW*/

.slideshow, .myslides{

    width: 80%;  
    margin: 0 auto;
    margin-top: 10%;
}

/*BOOK NOW*/

a input{
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bolder;
    display: inline-block;
    border-radius: 5rem;
    background-color: #82AEB1;
    border: none;
    color:#333333;
    font-size: 1.5rem;
    width: 80%;
    transition: all 0.5s;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.book_button{
    margin-top: 4%;
    margin-left: 27%;
    margin-right: 20%;
    margin-bottom: 5%;
}

a input:hover {
    background-color: #333333;
    color: #EBF5EE;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

a input:active {
  background-color:#333333;
  color: #EBF5EE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*ARTICLE*/

.pink{
    border: solid #D8BFAA 10px;
    color: #333333;
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
}

section h2 {
    display: block;
    text-align: center;
    font-size: 2rem;
}

article h3{
    text-align: center;
    font-size: 1.8rem;
    padding-top: 1.5rem;
    color: #333333;
    margin-top: 2%;
}

article .subtitle{
    text-align: center;
}


article h4{
    font-size: 1.4rem;
    padding-bottom:2%;
    padding-left:2rem;
}


article p {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
    padding-bottom: 1rem;
}

article{
    background-color: #EBF5EE;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
    padding-right: 3%;
}

article img {
    
    padding-left: 15px;
    padding-bottom: 5px;
    width: 50%;
    float: right;
    padding-top: 5%;
}

/*FOOTER*/

.left{
    margin-top: 10%;
    margin-left: 8%;
    width: 50%;
}

address p{
    margin-bottom:2%;
}

.icons{
    width: 5%;
}

address .icons{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.right img{
    padding-right: 5%;
    padding-left: 10%;
    margin-top: 2rem;
}

.right{
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

address{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footerbar{
    background-color: #333333;
    color: #EBF5EE;
    display: flex;
    font-size: 0.9rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.link{
    color: #EBF5EE;
}

.link:hover{
    color: #82AEB1;
}

.link1{
color: #333333;
}

.link1:hover{
    color: #82AEB1;
}
