@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Open+Sans+Condensed:300,300i,700');

* { margin: 0; box-sizing: border-box; } 

h1, h2, h3, h4, h5, h6 {
    font-family: "Glass Antiqua", cursive;
}

p {
    font-family: "Open Sans Condensed", sans-serif;
}
/*LOGO CSS*/

.logotype {
    display: flex;
    flex-direction: column;  
}

.logotype img{
    width: 25%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.logotype h1{
    width:100%;
    text-align: center;
    line-height: 1rem;
}

.logotype p{
    width:100%;
    text-align: center;
    line-height: 1rem;
    padding-bottom: 1.5rem;
}

.logotype h1{
    font-size: 2.5rem;
}

/*NAVIGATION MEDIUM*/

/*Wayfinding nav*/
nav .active a {
    background-color: #EBF5EE;
    color: #333333;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: bold;
    color: #EBF5EE;
    background: #333333;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #EBF5EE;
    color: #333333;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #EBF5EE;
    color: #333333;
    height: 3rem;
    line-height: 3rem;
    border-top: 2px solid #333333;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #333333;
    color: #EBF5EE;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #EBF5EE;
    background: #333333;
    text-align: center;
    padding: 1.5rem;
    display: none;
    margin-bottom: 2px;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/
/*Make dropdown links appear inline*/
ul {
    position: static;
    display: none;
}
/*Create vertical spacing*/
li {
    margin-bottom: 2px;
}
/*Make all menu links full width*/
ul li, li a {
    width: 100%;
}
/*Display 'show menu' link*/
.show-menu {
    display:block;
}

nav{
    margin-bottom: 4%;
}



/*SLIDESHOW*/

.slideshow, .myslides{

    width: 100%;  
    margin-top: 5%; 
}

/*BOOK NOW*/

button{
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bolder;
    display: inline-block;
    border-radius: 5rem;
    background-color: #82AEB1;
    border: none;
    color:#333333;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.book_button{
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

button:hover {
    background-color: #333333;
    color: #EBF5EE;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

button:active {
  background-color:#333333;
  color: #EBF5EE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*ARTICLE*/

.pink{
    border: solid #D8BFAA 10px;
    color: #333333;
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
}

section h2 {
    display: block;
    text-align: center;
    font-size: 2rem;
}

article h3{
    text-align: center;
    font-size: 1.8rem;
    padding-top: 1.5rem;
    color: #333333;
    margin-top: 2%;
}

article .subtitle{
    text-align: center;
}


article h4{
    font-size: 1.4rem;
    padding-top:6%;
    padding-bottom:2%;
    padding-left:2rem;
}

article p {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
    padding-bottom: 1rem;
}

article{
    background-color: #EBF5EE;
    margin-left: 5%;
    margin-right: 5%;
}

article img {
    
    padding: 20px;
    width: 100%;
}

/*FOOTER*/

.left{
    margin-top: 10%;
    margin-left: 5%;
    width: 50%;
}

address p{
    margin-bottom:2%;
}

.icons{
    width: 8%;
}

address .icons{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.right img{
    width: 70%;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    text-align: right;
}

address{
    display: inline-flex;
    width: 100%;
}

.footerbar{
    background-color: #333333;
    color: #EBF5EE;
    display: flex;
    font-size: 0.9rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.link{
    color: #EBF5EE;
}

.link:hover{
    color: #82AEB1;
}

.link1{
color: #333333;
}

.link1:hover{
    color: #82AEB1;
}

/*FEATURED TEMPLE IMG IN TEMPLE PAGES*/

article h1{
    border: solid #D8BFAA 10px;
    color: #333333;
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 3rem;
    background-color: #fff;
}

article div img{
    width: 70%;
    display: inline-flex;
    margin-left: 15%;
    margin-right: 12%;
    
}

article h2{
    margin-bottom: 4%;
    font-size: 2em;
}

.templeinfo p{
    font-size: 1.2em;
}

article{
    padding-top:2%;
}

.summary h3{
    font-size: 2em;
    padding-bottom: 3%;
}

.summary{
    text-align: center;
}

div .current{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    border: 4px solid #82aeb1;
    font-size: .7em;
    color: #333333;
    padding-top: 1.2em;
    background-color: #fff;
}

/*FORMS MEDIUM*/

fieldset {
    font-family: "Open Sans Condensed", sans-serif;
}

form{
    background-color: #EBF5EE;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 3%;
    margin-left: 3%;
}

fieldset legend{
    font-family: "Glass Antiqua", cursive;
    font-size: 1.5em;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

form fieldset{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 10%;
}

form input{
    width: 100%;
}

form select{
    width: 100%;
}

form textarea{
    width: 100%;
}

.personal{
    margin-top: 10%;
    border: 4px solid #D8BFAA;
}

.accomodations{
    border: 4px solid #D8BFAA;
}

.comments{
    border: 4px solid #D8BFAA;
}

form input[type=submit]{

    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bolder;
    display: inline-block;
    border-radius: 5rem;
    background-color: #82AEB1;
    border: none;
    color:#333333;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}


form input[type=submit]:hover {
    background-color: #333333;
    color: #EBF5EE;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

form input[type=submit]:active {
  background-color:#333333;
  color: #EBF5EE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*THANK YOU*/

.thankyou{
    background-color: #EBF5EE;
}

.thankyou h1{
    padding-top: 20%;
    font-size: 4em;
    text-align: center;
}

.thankyou p{
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.thankyou p:nth-child(4){
padding-bottom: 20%;
}

/*SERVICES*/

.serviceTitle h1{
    text-align: center;
    border: solid #D8BFAA 10px;
    background-color: #ffffff;
    margin: 3%;
    font-size: 3em;
    padding: 3%;
}

.serviceList{
    background-color: #EBF5EE;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 3%;
    font-size: 1.3em;
    line-height: 2em;
}

.serviceList .justify{
    text-align: justify;
    padding-top:3%;
    padding-left: 3%;
    padding-right: 3%;
}

.specialized{
    font-weight: bold;
    margin-top:5%;
   
}

.serviceList p {
    padding: 2%;
}

/*RECEPTION PICTURES*/


.receptions{
    background-color: #EBF5EE;
    margin: 3%;
}

.receptions p{
    text-align: justify;
    padding-top:3%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.3em;
    line-height: 2em;
}
    
.receptions h3{
    font-weight: bold;
    padding-left: 3%;
    padding-top: 5%;

}

.gallery{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 1em;
    align-items: center;
    padding: 3em;
}

.gallery figure img{
    width: 100%;
}

/*FULL TIME MISSIONARIES*/

.column {
    float: left;
    width: 25%;
    padding: 10px;
  }

.column img {
    opacity: 0.8; 
    cursor: pointer; 
  }

  .column img:hover {
    opacity: 1;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    position: relative;
    display: none;
  }

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #imgtext, #expandedImg{
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: bold;
  }

  /*CONTACT*/

  .contact{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 5%;
    padding-top: 5%;
  }

 .para{
     padding-top: 5%;
 }
 
 .contact p {
    font-style: oblique;
}

/*TEMPLES*/

.temples{
    display: flex;
    justify-content: center;
}